.about
  width 100%
  font-family 'PlayfairDisplay'
  :after
    clear both
    content ""
    display block
  &__content
    padding-top 50px
    width 1170px
    margin 0 auto
    &_service
      padding-top 90px
  &__title
    font-size 60px
    font-weight 400
    line-height 29px
    text-transform uppercase
    text-align center
  &__subheader
    font-size 22px
    font-weight 400
    line-height 29px
    text-transform uppercase
    border-top 1px solid black
    border-bottom 1px solid black
    width 60%
    text-align center
    margin 27px auto 0
    padding 20px 0
  &__info
    width 90%
    margin 0 auto
    text-align center
    font-size 16px
    font-weight 400
    line-height 24px
    margin-top 26px
    max-width 1390px
  &__block
    width 912px
    height 440px
    margin 30px auto 0
    :after
      clear both
      content ""
      display block
    &_service
      height 1060px
  &__item
    position relative
    width 420px
    height 370px
    float left
    margin 0 18px
    &_welcome
      width 420px
      height 100%
      background-color #222
      float left
    &_pic
      float left
      height 100%
      background url('../img/background.jpg')
      background-size cover
    &_service
      height 470px
      margin-bottom 20px
      overflow hidden
  &__slogan
    font-size 22px
    font-weight 400
    line-height 30px
    width 225px
    color #fff
    margin 48px auto 0
    padding-bottom 20px
    border-bottom 1px solid white
    text-align center
  &__text
    color white
    font-size 16px
    font-weight 400
    line-height 24px
    width 360px
    margin 40px auto 0
    text-align center
  &__service
    position absolute
    width 100%
    height 100%
    -moz-transition all 0.5s
    -webkit-transition all 0.5s
    transition all 0.5s
    background-position center center
    &_hair
      background url('../img/1.jpg')
      background-size cover
    &_makeup
      background url('../img/2.jpg')
      background-size cover
      background-position-x -80px
    &_cosm
      background url('../img/3.jpg')
      background-size cover
      background-position-x -135px
    &_nail
      background url('../img/4.jpg')
      background-size cover
  &__scale
    transform scale(1.2)
  &__border
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    width 94%
    height 94%
    border 2px solid #fff
  &__desc
    position absolute
    font-size 36px
    font-weight 400
    line-height 60px
    color #fff
    top 50%
    left 50%
    transform translate(-50%,-50%)
    text-align center

@media screen and (max-width: 1280px)
  .about
    &__content
      width 960px
      &_service
        padding-top 50px
    &__title
      font-size 50px
    &__subheader
      font-size 20px
    &__info
      width 80%
    &__block
      width 800px
    &__item
      width 380px
      height 340px
      margin 0 10px
      &_service
        margin-bottom 20px
    &__slogan
      width 265px
      font-size 18px
      margin-top 25px
      padding-bottom 25px
    &__text
      width 320px
      margin-top 25px
    &__service
      &_makeup
        background-position-x -20px
      &_cosm
        background-position-x -50px
    &__block
      height 340px
      &_service
        height 700px

@media screen and (max-width: 1023px)
  .about
    &__content
      padding-top 45px
      width 90%
    &__title
      font-size 35px
    &__block
      width 400px
    &__subheader
      width 90%
      font-size 18px
      line-height 22px
      border-top 1px solid #000
      border-bottom 1px solid #000
    &__info
      font-size 14px
    &__item
      &_welcome
        margin-bottom 20px

@media screen and (max-width: 767px)
  .about
    &__content
      padding-top 30px
    &__title
      font-size 28px
    &__subheader
      font-size 16px
      margin-top 20px
    &__info
      width 90%
      margin-top 16px
    &__block
      height 580px
      width 90%
      &_service
        height 1400px
      &:after
        clear both
        content ""
        display block
    &__item
      width 90%
      max-width 450px
      margin 0 auto
      float none
      &_welcome
        margin-bottom 15px
        flaot none
      &_service
        margin-bottom 15px
        float none
    &__slogan
      font-size 14px
      width 90%
      padding 30px 0 15px
    &__text
      width 90%
      font-size 14px
      line-height 20px
    &__service
      &_makeup
        background-position-x 0
      &_cosm
        background-position-x 0
    &__desc
      font-size 24px
      line-height 35px

@media screen and (max-width: 470px)
  .about
    &__block
      &_service
        height 1150px
    &__item
      height 280px

@media screen and (max-width: 425px)
  .about
    &__block
      height 440px
      &_service
        height 920px
    &__item
      height 220px

