mixin about()
    section.about&attributes(attributes)
        .about__content
            h2.about__title ПРО НАС
            p.about__subheader GRUMPY WIZARD MAKE TOXIC BREW FOR THE EVIL QUEEN
            p.about__info.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed nisi sem.
                Nullam et lorem magna, in consectetur erat. Aliquam fermentum fringilla libero a
                vulputate. Curabitur non arcu non tortor semper dictum. Pellentesque pulvinar
                ornare quam, in faucibus tortor elementum vitae.
            .about__block
                .about__item.about__item_welcome
                    p.about__slogan WELCOME TO LETUAL BEATY
                    p.about__text.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                        irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu fugiat nulla pariatur.
                .about__item.about__item_pic
        .about__content.about__content_service
            h2.about__title ПОСЛУГИ
            p.about__subheader GRUMPY WIZARD MAKE TOXIC BREW FOR THE EVIL QUEEN
            p.about__info.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Duis sed nisi sem. Nullam et lorem magna, in consectetur erat.
                Aliquam fermentum fringilla libero a vulputate. Curabitur non arcu
                non tortor semper dictum. Pellentesque pulvinar ornare quam, in faucibus
                tortor elementum vitae.
            .about__block.about__block_service
                .about__item.about__item_service
                    .about__service.about__service_hair
                    .about__border
                        p.about__desc.about__desc_name ПЕРУКАРСЬКІ ПОСЛУГИ
                .about__item.about__item_service
                    .about__service.about__service_makeup
                    .about__border
                        p.about__desc.about__desc_name ВІЗАЖ
                .about__item.about__item_service
                    .about__service.about__service_cosm
                    .about__border
                        p.about__desc.about__desc_name КОСМЕТОЛОГІЯ
                .about__item.about__item_service
                    .about__service.about__service_nail
                    .about__border
                        p.about__desc.about__desc_name МАНІКЮР ПЕДИКЮР