mixin hero()
    section.hero&attributes(attributes)
        #slideshow
            div
                img.hero__img(src="assets/img/background2.jpg")
            div
                img.hero__img(src="assets/img/background1.jpg")
