extends ../blocks/layout-default/layout-default
include ../blocks/header/header
include ../blocks/service/service

block head
    - var pageTitle = 'Our Services';

block content
    +header
    +service