mixin action()
	section.action&attributes(attributes)
		h2.action__title АКЦІЇ
		.action__block
			.action__section
				p.action__subheader GRUMPY WIZARD MAKE TOXIC BREW
				p.action__text.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Duis sed nisi sem. Nullam et lorem magna, in consectetur erat.
				img.action__img(src="assets/img/action.png" alt="action")
			.action__section
				p.action__subheader GRUMPY WIZARD MAKE TOXIC BREW
				p.action__text.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Duis sed nisi sem. Nullam et lorem magna, in consectetur erat.
				img.action__img(src="assets/img/action.png" alt="action")