.action
	font-family 'PlayfairDisplay'
	&__title
		font-size 72px
		font-weight 400
		line-height 24px
		text-align center
		padding-top 96px
	&__block
		width 95%
		max-width 1290px
		margin 40px auto 0
		display flex
		justify-content space-around
	&__section
		width 40%
		max-width 603px
	&__subheader
		font-size 28px
		font-weight 400
		line-height 29px
		text-transform uppercase
		text-align center
		padding 34px 0 31px
		border-top 2px solid #000
		border-bottom 2px solid #000
	&__text
		font-size 18px
		font-weight 400
		line-height 24px
		margin 20px 0 28px
		text-align center
	&__img
		width 100%
		max-width 603px

@media screen and (max-width: 1024px)
  .action
    font-size 40px
    padding-top 46px
    &__block
      width 90%
      margin 16px
    &__section
      width 70%
    &__subheader
      padding 17px 0 15px
      border-top 1px solid #000
      border-bottom 1px solid #000
