mixin brand()
    section.brand&attributes(attributes)
        h2.brand__title БРЕНДИ
        .brand__emblems
            .brand__item
                img(src="assets/img/kerastase.svg").brand__pic
            .brand__item
                img(src="assets/img/loreal.svg").brand__pic
            .brand__item
                img(src="assets/img/mac.svg").brand__pic
            .brand__item
                img(src="assets/img/decleor.svg").brand__pic
            .brand__item
                img(src="assets/img/Cirita logo.svg").brand__pic
            .brand__item
                img(src="assets/img/CND.svg").brand__pic
            .brand__item
                img(src="assets/img/artistic.svg").brand__pic
