.brand
  display
  &__title
    font-family 'PlayfairDisplay'
    padding 135px 0 41px
    font-size 72px
    font-weight 400
    line-height 24px
    text-align center
    width 810px
    margin 0 auto
    border-bottom 2px solid #000
  &__emblems
    max-width 1255px
    width 95%
    margin 0 auto
    padding-bottom 53px
    border-bottom 2px solid #000
  &__item
    &_kerastase
      max-width 270px
    &_loreal
      max-width 283px
    &__mac
      max-width 290px
    &__decleor
      max-width 225px
    &__carita
      max-width 200px
    &__cdn
      max-width 235px
    &__artistic
      max-width 235px