mixin brand()
	section.brand&attributes(attributes)
		h2.brand__title БРЕНДИ
		.brand__emblems
			img.brand__item.brand__item_kerastase(src="assets/img/kerastase.png")
			img.brand__item.brand__item_loreal(src="assets/img/loreal.png")
			img.brand__item.brand__item_mac(src="assets/img/mac.png")
			img.brand__item.brand__item_decleor(src="assets/img/decleor.png")
			img.brand__item.brand__item_carita(src="assets/img/carita.png")
			img.brand__item.brand__item_cnd(src="assets/img/cnd.png")
			img.brand__item.brand__item_artistic(src="assets/img/artistic.png")
