mixin contact()
    section.contact&attributes(attributes)
        h2.contact__title КОНТАКТИ
        img.contact__img(src="assets/img/contact.jpg" alt="contact")
        .contact__info
            p.contact__address  м. Львів, вул. І. Франка 50
            p.contact__phone тел. (032) 225-71-41, 225-71-51
            p.contact__work Години роботи:
            p.contact__hours пн.-сб. - 10:00-20:00.
            p.contact__hours нд. - вихідний
            p.contact__email letual-lviv@yandex.ru