.contact
  font-family 'PlayfairDisplay'
  width 100%
  &__title
    font-size 60px
    font-weight 400
    line-height 24px
    padding-top 125px
    text-align center
    padding-bottom 34px
    border-bottom 1px solid #000
    width 810px
    margin 0 auto
  &__img
    width 80%
    max-width 970px
    margin 30px auto 0
    position relative
    left 50%
    transform translateX(-50%)
  &__info
    width 316px
    margin 40px auto 30px
    font-size 20px
    font-weight 400
    line-height 24px
    text-align center
  &__work
    margin-top 15px
  &__email
    margin-top 15px

@media screen and (max-width: 1280px)
  .contact
    &__title
      font-size 50px
      width 60%
      padding-top 60px
    &__img
      width 75%
    &__info
      margin 25px auto
      font-size 18px
    &__work
      margin-top 10px
    &__email
      margin-top 10px