.header
  display block
  position fixed
  height 80px
  width 100%
  background #fff
  z-index: 10
  &__logo
    position absolute
    top 5px
    left 14%
    width 91px
  &__menu
    top 50%
    position absolute
    left 50%
    transform translate(-50%,-50%)
  &__item
    display inline-block
    margin 0 15px
  &__link
    font-family 'PlayfairDisplay'
    font-size 16px
    font-weight 400
    text-transform uppercase
    color #000
    text-decoration none
    padding 5px
  &__language
    right: 4.5%
    background #fff
    border-radius 0
    border none
    position absolute
    top 50%
    transform translateY(-50%)

@media screen and (max-width: 1280px)
  .header
    height 80px
    &__logo
      width 80px
      top 3px

@media screen and (max-width: 1023px)
  .header
    display none