mixin service()
    section.service&attributes(attributes)
        .service__layout
            .service__pic
                img.service__img(src="assets/img/service/hair_main.png" alt="service")
            .service__container
                .service__white
                    .service__wrapper
                        h3.service__title ПЕРУКАРСЬКІ ПОСЛУГИ
                        .service__block
                            p.service__subtitle СТРИЖКИ
                            .service__item
                                p.service__name МОДЕЛЬНА ЖІНОЧА
                                p.service__price 150 uan
                            .service__item
                                p.service__name КРЕАТИВНА
                                p.service__price 200 uan
                            .service__item
                                p.service__name ПІДЛІТКОВА
                                p.service__price 160 uan
                            .service__item
                                p.service__name „ГАРЯЧИМИ НОЖИЦЯМИ”
                                p.service__price 250-350 uan
                            .service__item
                                p.service__name КОРЕКЦІЯ / hot
                                p.service__price 120/200 uan
                        .service__block
                            p.service__subtitle МОДЕЛЮВАННЯ
                            .service__item
                                p.service__name укладка ”Loreal”/”kerastase”
                                p.service__price 200-350/300-450 uan
                            .service__item
                                p.service__name стрижка+укладка L/K
                                p.service__price 350-490/440-590 uan
                            .service__item
                                p.service__name steam pod (вирівнювання)
                                p.service__price 160-260 uan
                            .service__item
                                p.service__name olaplex (відновлення волосся)
                                p.service__price 930-1900 uan
                            .service__item
                                p.service__name зачіска вечірня/весільна
                                p.service__price від 500/800 uan
                        .service__block
                            p.service__subtitle КОЛОРУВАННЯ ( без укладки )
                            .service__item
                                p.service__name фарбування в один тон
                                p.service__price від 550 uan
                            .service__item
                                p.service__name креативне колорування
                                p.service__price від 1100 uan
                            .service__item
                                p.service__name мелірування
                                p.service__price від 950 uan
                            .service__item
                                p.service__name біозавивка „mossa”
                                p.service__price 1250-2450 uan
        .service__layout
            .service__pic.service__pic_right
                img.service__img(src="assets/img/service/makeup_main.png" alt="service")
            .service__container.service__container_left.service__container_makeup
                .service__white
                    .service__wrapper
                        h3.service__title ВІЗАЖ
                        .service__block
                            p.service__subtitle Макіяж
                            .service__item
                                p.service__name денний
                                p.service__price 300 uan
                            .service__item
                                p.service__name експрес
                                p.service__price 250 uan
                            .service__item
                                p.service__name вечірній
                                p.service__price 400 uan
                            .service__item
                                p.service__name весільний
                                p.service__price 500 uan
                            .service__item
                                p.service__name уроки "tet-a-tet"
                                p.service__price 650 uan
                        .service__block
                            p.service__subtitle БРОВИ, ВІЇ
                            .service__item
                                p.service__name біозавивка вій
                                p.service__price 350 uan
                            .service__item
                                p.service__name корекція /форма брів
                                p.service__price 70/100 uan
                            .service__item
                                p.service__name фарбування брів хною
                                p.service__price 130-150 uan
                            .service__item
                                p.service__name фарбування брів, вій фарбо
                                p.service__price 80 uan
                            .service__item
                                p.service__name перманентне відновлення брів
                                p.service__price +60 uan
                        .service__block
                            p.service__subtitle ШУГАРИНГ / ДЕПІЛЯЦІЯ
                            .service__item
                                p.service__name вусики, брови,підборіддя
                                p.service__price 70 uan
                            .service__item
                                p.service__name вусики, брови,підборіддя
                                p.service__price 140-170 uan
                            .service__item
                                p.service__name ноги до колін/повністю
                                p.service__price 150-300 uan
                            .service__item
                                p.service__name бікіні
                                p.service__price 220-290 uan
        .service__layout
            .service__pic
                img.service__img(src="assets/img/service/cosmetology_main.jpg" alt="service")
            .service__container.service__container_cosmetology
                .service__white
                    .service__wrapper
                        h3.service__title КОСМЕТОЛОГІЯ
                        .service__block
                            p.service__subtitle ОБЛИЧЧЯ
                            .service__item
                                p.service__name чистка
                                p.service__price 450-550 uan
                            .service__item
                                p.service__name пілінги
                                p.service__price 470-530 uan
                            .service__item
                                p.service__name ліфтинг
                                p.service__price 470-550 uan
                            .service__item
                                p.service__name зволоження
                                p.service__price 450-550 uan
                            .service__item
                                p.service__name спец.догляд
                                p.service__price 450-650 uan
                        .service__block
                            p.service__subtitle МАСАЖ
                            .service__item
                                p.service__name класичний
                                p.service__price 350 uan
                            .service__item
                                p.service__name релаксаційний
                                p.service__price 300 uan
                            .service__item
                                p.service__name антицелюлітний
                                p.service__price 400 uan
                            .service__item
                                p.service__name медовий
                                p.service__price 400 uan
                            .service__item
                                p.service__name стоун-терапія
                                p.service__price 550 uan
                        .service__block
                            p.service__subtitle ОБГОРТАННЯ
                            .service__item
                                p.service__name шоколадне
                                p.service__price 650 uan
                            .service__item
                                p.service__name шовкове
                                p.service__price 650 uan
                            .service__item
                                p.service__name водорослеве
                                p.service__price 600 uan
                            .service__item
                                p.service__name антицелюлітне
                                p.service__price 600 uan
        .service__layout
            .service__pic.service__pic_right
                img.service__img(src="assets/img/service/nail_main.jpg" alt="service")
            .service__container.service__container_left.service__container_nail
                .service__white
                    .service__wrapper
                        h3.service__title МАНІКЮР/ПЕДИКЮР
                        .service__block
                            p.service__subtitle МАНІКЮР
                            .service__item
                                p.service__name гігієнічний (обрізний)
                                p.service__price 100 uan
                            .service__item
                                p.service__name апаратний
                                p.service__price 130 uan
                            .service__item
                                p.service__name японський
                                p.service__price 300 uan
                            .service__item
                                p.service__name парафінотерпія
                                p.service__price 100 uan
                            .service__item
                                p.service__name SPA
                                p.service__price 350 uan
                        .service__block
                            p.service__subtitle ПЕДИКЮР
                            .service__item
                                p.service__name апаратний
                                p.service__price 250 uan
                            .service__item
                                p.service__name японський
                                p.service__price 350 uan
                            .service__item
                                p.service__name SPA
                                p.service__price 350 uan
                            .service__item
                                p.service__name парафінотерапія
                                p.service__price 150 uan
                            .service__item
                                p.service__name лікувальні послуги
                                p.service__price 50-200 uan
                        .service__block
                            p.service__subtitle ПОКРИТТЯ
                            .service__item
                                p.service__name лікування IBX
                                p.service__price 100 uan
                            .service__item
                                p.service__name лак Essie, Artistic
                                p.service__price 70 uan
                            .service__item
                                p.service__name Vinylux, Masura
                                p.service__price 90 uan
                            .service__item
                                p.service__name гель-лак Shellac, Artistic
                                p.service__price 220 uan

        .service__layout
            .service__pic
                img.service__img(src="assets/img/service/man_main.png" alt="service")
            .service__container.service__container_man
                .service__white
                    .service__wrapper
                        h3.service__title ЧОЛОВІЧІ ПОСЛУГИ
                        .service__block
                            p.service__subtitle ПЕРУКАРСЬКІ
                            .service__item
                                p.service__name стрижка модельна
                                p.service__price 160-200 uan
                            .service__item
                                p.service__name стрижка креативна
                                p.service__price 250 uan
                            .service__item
                                p.service__name стрижка бороди, вусів
                                p.service__price 80-100 uan
                            .service__item
                                p.service__name укладка
                                p.service__price 100 uan
                            .service__item
                                p.service__name камуфляж сивини
                                p.service__price 200 uan
                        .service__block
                            p.service__subtitle Нігтьова естетика
                            .service__item
                                p.service__name манікюр гігінічний (обрізний)
                                p.service__price 130 uan
                            .service__item
                                p.service__name манікюр апаратний / SPA
                                p.service__price 150/250 uan
                            .service__item
                                p.service__name педикюр апаратний / SPA
                                p.service__price 300/400 uan
                            .service__item
                                p.service__name парафінотерапія рук / ніг
                                p.service__price 130/200 uan
                            .service__item
                                p.service__name лікувальні послуги
                                p.service__price 90/200 uan
                        .service__block
                            p.service__subtitle КОСМЕТОЛОГІЯ
                            .service__item
                                p.service__name догляд за обличчям
                                p.service__price 400-600 uan
                            .service__item
                                p.service__name видалення волосся на спині / грудях
                                p.service__price 250-300 uan
                            .service__item
                                p.service__name макіяж денний
                                p.service__price 350 uan
                            .service__item
                                p.service__name корекція брів
                                p.service__price 100 uan
        .service__layout
            .service__pic.service__pic_right
                img.service__img(src="assets/img/service/child_main.jpg" alt="service")
            .service__container.service__container_left.service__container_child
                .service__white
                    .service__wrapper
                        h3.service__title ПОСЛУГИ ДЛЯ ДІТЕЙ
                        .service__block
                            p.service__subtitle ПЕРУКАРСЬКІ
                            .service__item
                                p.service__name стрижка дитяча / підліткова
                                p.service__price 100/160 uan
                            .service__item
                                p.service__name стрижка гарячими ножицями
                                p.service__price 150 uan
                            .service__item
                                p.service__name укладка хлопчика / дівчинки
                                p.service__price 70/170 uan
                            .service__item
                                p.service__name косички
                                p.service__price 80-160 uan
                            .service__item
                                p.service__name зачіска
                                p.service__price ВІД 200 uan
                        .service__block
                            p.service__subtitle КОСМЕТОЛОГІЯ
                            .service__item
                                p.service__name проколювання вушок пістолетом
                                p.service__price 190 uan
                            .service__item
                                p.service__name ( з кульчиками )
                                p.service__price
                            .service__item
                                p.service__name глітер-тату - малюнок
                                p.service__price 70-120 uan
                            .service__item
                                p.service__name масаж дитячий
                                p.service__price 180 uan
                            .service__item
                                p.service__name макіяж дитячий
                                p.service__price ВІД 200 uan
                        .service__block
                            p.service__subtitle НІГТЬОВА ЕСТЕТИКА
                            .service__item
                                p.service__name манікюр
                                p.service__price 70 uan
                            .service__item
                                p.service__name покриття нігтів лаком
                                p.service__price 40 uan
                            .service__item
                                p.service__name педикюр підлітковий
                                p.service__price 190 uan