.service
  display block
  width 100%
  padding-top 80px
  &:after
    content ""
    clear both
    display table
  &__layout
    width 100%
    height 740px
  &__pic
    width 50%
    height 100%
    float left
    min-height 550px
    overflow hidden
    position relative
    &_right
      float right
  &__img
    min-width 100%
    min-height 100%
    max-width 130%
    max-height 130%
    position absolute
    left -100px
  &__container
    width 50%
    height 100%
    float right
    background url("../img/service/hair_under.png") no-repeat;
    background-size cover
    font-family 'PlayfairDisplay'
    &_left
      float left
    &_makeup
      background url("../img/service/makeup_under.png") no-repeat;
      background-size cover
    &_cosmetology
      background url("../img/service/cosmetology_under.png") no-repeat;
      background-size cover
    &_nail
      background url("../img/service/nail_under.jpg") no-repeat;
      background-size cover
    &_man
      background url("../img/service/man_under.png") no-repeat;
      background-size cover
    &_child
      background url("../img/service/child_under.jpg") no-repeat;
      background-size cover
      background-position -100px 0
  &__white
    background-color rgba(256,256,256,0.7)
    height 100%
    width1 100%
  &__wrapper
    padding 80px 0 0 80px
    width 590px
  &__title
    font-size 35px
    font-weight 400
    line-height 12px
  &__block
    margin-top 20px
  &__subtitle
    font-size 22px
    font-weight 400
    line-height 18px
    text-transform uppercase
    padding 10px 0
    border-top 1px solid black
    border-bottom 1px solid black
    margin-bottom 15px
  &__item
    clear both
    margin-top 5px
    &:after
      content ""
      clear both
      display table
  &__name,
  &__price
    font-size 16px
    font-weight 400
    line-height 18px
    text-transform uppercase
  &__name
    float left
  &__price
    float right
    margin-right 20px

@media screen and (max-width: 1440px)
  .service
    display block
    width 100%
    padding-top 80px
    &:after
      content ""
      clear both
      display table
    &__layout
      height 550px
    &__wrapper
      width 430px
      padding 30px 0 0 30px
    &__title
      font-size 24px
    &__block
      margin-top 15px
    &__subtitle
      padding 5px 0
      font-size 18px
      margin-bottom 5px
    &__name,
    &__price
      font-size 12px

@media screen and (max-width: 1023px)
  .service
    padding-top 45px
    &__layout
      border-bottom 2px solid black
      &:last-of-type
        border none
    &__pic
      display none
    &__container
      float none
      width 100%
    &__wrapper
      padding-left 0
      margin 0 auto

@media screen and (max-width: 500px)
  .service
    &__wrapper
      width 300px
    &__title
      font-size 22px
    &__subtitle
      font-size 14px
    &__price
      margin-right 0
