mixin service()
    section.service&attributes(attributes)
        .service__layout
            .service__pic
                img.service__img(src="assets/img/service/hair_main.png" alt="service")
            .service__container
                .service__white
                    .service__wrapper
                        h3.service__title ПЕРУКАРСЬКІ ПОСЛУГИ
                        .service__block
                            p.service__subtitle GRUMPY WIZARD MAKE TOXIC
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                        .service__block
                            p.service__subtitle GRUMPY WIZARD MAKE TOXIC
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                        .service__block
                            p.service__subtitle GRUMPY WIZARD MAKE TOXIC
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
        .service__layout
            .service__pic.service__pic_right
                img.service__img(src="assets/img/service/makeup_main.png" alt="service")
            .service__container.service__container_left.service__container_makeup
                .service__white
                    .service__wrapper
                        h3.service__title ВІЗАЖ
                        .service__block
                            p.service__subtitle GRUMPY WIZARD MAKE TOXIC
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                        .service__block
                            p.service__subtitle GRUMPY WIZARD MAKE TOXIC
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                        .service__block
                            p.service__subtitle GRUMPY WIZARD MAKE TOXIC
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
        .service__layout
            .service__pic
                img.service__img(src="assets/img/service/cosmetology_main.png" alt="service")
            .service__container.service__container_cosmetology
                .service__white
                    .service__wrapper
                        h3.service__title КОСМЕТОЛОГІЯ
                        .service__block
                            p.service__subtitle GRUMPY WIZARD MAKE TOXIC
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                        .service__block
                            p.service__subtitle GRUMPY WIZARD MAKE TOXIC
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                        .service__block
                            p.service__subtitle GRUMPY WIZARD MAKE TOXIC
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
        .service__layout
            .service__pic.service__pic_right
                img.service__img(src="assets/img/service/nail_main.png" alt="service")
            .service__container.service__container_left.service__container_nail
                .service__white
                    .service__wrapper
                        h3.service__title ВІЗАЖ
                        .service__block
                            p.service__subtitle GRUMPY WIZARD MAKE TOXIC
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                        .service__block
                            p.service__subtitle GRUMPY WIZARD MAKE TOXIC
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                        .service__block
                            p.service__subtitle GRUMPY WIZARD MAKE TOXIC
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
                            .service__item
                                p.service__name Blowout & Style
                                p.service__price 100 uan
